body{background: #EEEEEE;}
.banner{width: 100%;height: 400px;background: url(../images/k_cbanner.jpg)no-repeat center center;}
#head3 li:nth-child(1) dl{display: none;}
#head3 li:nth-child(1):hover dl{display: block;}

#side{width: 100px;position: fixed;top: 60px;right: 30px;border-top: 1px solid #000;}
#side li{width: 100px;height: 30px;background: #555;text-align: center;line-height: 30px;border: 1px solid #000;border-top: none;overflow: hidden;}
#side li a{display: block;color: #fff;}
#side li a:hover{color: #fff;background: #000;text-decoration: none;}
#side li:nth-child(1){height: 38px;}
#side li:nth-child(9){height: 40px;line-height: 0px;}

.tit{width: 1002px;height: 210px;background: #393A3E url(../images/k_ctit1.jpg)no-repeat center center;margin: 0 auto;}
.tit1{width: 1002px;height: 210px;background: #393A3E url(../images/k_ctit2.jpg)no-repeat center center;margin: 0 auto;}
.tit2{width: 1002px;height: 210px;background: #393A3E url(../images/k_ctit3.jpg)no-repeat center center;margin: 0 auto;}
.tit3{width: 1002px;height: 210px;background: #393A3E url(../images/k_ctit4.jpg)no-repeat center center;margin: 0 auto;}
.tit4{width: 1002px;height: 200px;background: #393A3E url(../images/k_ctit7.jpg)no-repeat center center;margin: 0 auto;}
.tit5{width: 1002px;height: 210px;background: #393A3E url(../images/k_ctit5.jpg)no-repeat center center;margin: 0 auto;}
.tit6{width: 1002px;height: 200px;background: #393A3E url(../images/k_ctit6.jpg)no-repeat center center;margin: 0 auto;}
#main1{width: 1002px;height: 600px;margin: 0 auto;}
#main2{width: 1002px;height: 1700px;margin: 0 auto;}
#main3{width: 1002px;height: 960px;margin: 0 auto;}
#main4{width: 1002px;height: 210px;margin: 0 auto;}
#main5{width: 1002px;height: 210px;margin: 0 auto;}
#main6{width: 1002px;height: 1700px;margin: 0 auto;}
#main7{width: 1002px;height: 1700px;margin: 0 auto;}
.ma1_con li{width: 202px;height: 320px;background: #fff;float: left;margin-right: 10px;margin-bottom:10px;padding: 20px;overflow: hidden;}
.ma1_con li:nth-child(4){margin-right: 0;}
.ma1_con li img{width: 191px;}
.ma1_con li a{font-size: 14px;font-weight: bold;color: #000;}
.ma1_con li a p{font-size: 14px;font-weight: normal;color: #000;}
.ma1_con .baoy{width: 40px;height: 24px;color: #E31436;border: 1px dashed #E31436;text-align: center;line-height: 24px;margin: 10px 0;}
.ma1_con li p{font-size: 18px;font-weight: bold;color: #E31436;}
.ma1_con li p span{font-size: 12px;font-weight: normal;color: #bbb;text-decoration: line-through;}
.ma1_con li p button{width: 70px;height: 26px;background: #E31436;border: none;float: right;color: #fff;cursor: pointer;}
.ma1_con .guoq{position: relative;top: -308px;}
.ma1_con .guoq img{width: 38px;}
.ma1_con .guoq img:nth-child(2){width: 48px;position: relative;top: -9px;left: 161px;}
.ma1_con li .yiny{width: 244px;height: 60px;background: #000;opacity: 0;position: relative;top: -215px;left: -20px;}
.ma1_con li .yiny .yinl{width: 244px;color: #fff;padding: 10px;}
.ma1_con li .yiny .yinl p{font-size: 12px;color: #fff;font-weight: normal;}
.ma1_con li .yiny .yinl p span {font-size: 16px;color: #C5060B;}
.ma1_con li .yiny .yinl marquee{font-size: 16px;}
.ma1_con li:hover .yiny{opacity: 0.6;}
